<p id="notice"><%= notice %></p>

<p>
  <strong>List Item:</strong>
  <%= List.find(@step.list_id).title %>
</p>

<p>
  <strong>Number:</strong>
  <%= @step.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @step.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @step.details %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @step.completed %>
</p>

<p>
  <strong>List:</strong>
  <%= @step.list_id %>
</p>

<%= link_to 'Edit', edit_list_step_path %> |
<%= link_to 'Back', list_steps_path %>
